@import 'public/libs/bootstrap/less/bootstrap.less';

@dark                               : darken(@navbar-default-bg, 5%);
@darker                             : darken(@navbar-default-bg, 5%);
@darkest                            : darken(@navbar-default-bg, 25%);
@light                              : lighten(@navbar-default-bg, 5%);

@navbar-default-link-color          : @brand-primary;

/*
@navbar-default-toggle-icon-bar-bg  : @darker;
@navbar-default-toggle-border-color : @darker;
@navbar-default-toggle-hover-bg     : @light;

@panel-default-heading-bg           : @navbar-default-bg;
@panel-default-border               : @dark;
*/

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: 400;
    padding-left: 3%;
    padding-right: 3%;
}

#content {
    padding-top: 80px;
}

h1 {
    font-weight: 700;
}

#brand {
    margin-top: 5px;
    height: 40px;
    width: 40px;
}

.nav > li > a {
    font-size: 26px;
    font-weight: 700;
}

ul.navbar-nav {
    margin-left: 25px;
}

.header {
    background-color: @navbar-default-bg ;
    color: @darker;
    font-weight: 700;
}

.even {
    background-color: @darker;
}

.row {
    padding: 3px;
}

.sort {
    .bg-primary;
    color: white;
    border-radius: 3px;
}

.sort div {
    cursor: pointer;
}

.panel-default > .panel-heading {
}

#footer {
    .text-right;

    margin-top: 100px;
}
