<h1>Cards</h1>

<div deck></div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-3 text-center">
                <label for="cardSetsSelect">
                    <strong>Set</strong>
                </label>
                <select ng-model="cardSets" class="form-control">
                    <option></option>
                    <option ng-repeat="set in sets" value="{{set}}">{{set}}</option>
                </select>
            </div>

            <div class="col-md-3 text-center">
                <label for="cardClassesSelect">
                    <strong>Class</strong>
                </label>
                <select ng-model="cardClasses" class="form-control">
                    <option></option>
                    <option ng-repeat="clazz in classes" value="{{clazz}}">{{clazz}}</option>
                </select>
            </div>

            <div class="col-md-3 text-center">
                <label for="cardName">
                    <strong>Name</strong>
                </label>
                <input type="text" ng-model="cardName" class="form-control">
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="container-fluid">

            <div class="row header sort">
                <div class="col-md-2" ng-click="setOrder('name')"><i class="fa" ng-class="{'fa-caret-up': (orderBy == 'name'), 'fa-caret-down': (orderBy == '-name')}"></i> Name</div>
                <div class="col-md-2" ng-click="setOrder('cardSet')"><i class="fa" ng-class="{'fa-caret-up': (orderBy == 'cardSet'), 'fa-caret-down': (orderBy == '-cardSet')}"></i> Set</div>
                <div class="col-md-2" ng-click="setOrder('rarity')"><i class="fa" ng-class="{'fa-caret-up': (orderBy == 'rarity'), 'fa-caret-down': (orderBy == '-rarity')}"></i> Rarity</div>
                <div class="col-md-2" ng-click="setOrder('cardClass')"><i class="fa" ng-class="{'fa-caret-up': (orderBy == 'cardClass'), 'fa-caret-down': (orderBy == '-cardClass')}"></i> Class</div>
                <div class="col-md-2" ng-click="setOrder('cardType')"><i class="fa" ng-class="{'fa-caret-up': (orderBy == 'cardType'), 'fa-caret-down': (orderBy == '-cardType')}"></i> Type</div>
                <div class="col-md-2" ng-click="setOrder('race')"><i class="fa" ng-class="{'fa-caret-up': (orderBy == 'race'), 'fa-caret-down': (orderBy == '-race')}"></i> Race</div>
            </div>

            <div ng-if="cardSets || cardClasses || cardName" ng-repeat="card in cards | filter: { collectible: true, cardType: '!Hero', cardSet: cardSets, cardClass: cardClasses, name: cardName } | orderBy: orderBy">
                <div class="row" ng-class-even="'even'">

                    <div class="col-md-2" data-drag="true" jqyoui-draggable="{placeholder: 'keep'}" data-jqyoui-options="{helper: 'clone', revert: 'invalid'}">
                        <span id="{{card._id}}">{{card.name}}</span>
                    </div>
                    <div class="col-md-2">{{card.cardSet}}</div>
                    <div class="col-md-2">{{card.rarity}}</div>
                    <div class="col-md-2">{{card.cardClass}}</div>
                    <div class="col-md-2">{{card.cardType}}</div>
                    <div class="col-md-2">{{card.race}}</div>

                </div>
            </div>

        </div>
    </div>
</div>
