<h1>Cards</h1>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-3 text-center">
                <label for="cardSetsSelect">
                    <strong>Set</strong>
                </label>
                <select ng-model="cardSets" class="form-control">
                    <option></option>
                    <option ng-repeat="set in sets" value="{{set}}">{{set}}</option>
                </select>
            </div>

            <div class="col-md-3 text-center">
                <label for="cardClassesSelect">
                    <strong>Class</strong>
                </label>
                <select ng-model="cardClasses" class="form-control">
                    <option></option>
                    <option ng-repeat="clazz in classes" value="{{clazz}}">{{clazz}}</option>
                </select>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div class="container-fluid">

            <div ng-if="cardSets || cardClasses" ng-repeat="card in cards | filter: { collectible: true, cardType: '!Hero', cardSet: cardSets, cardClass: cardClasses } | orderBy: 'name'">
                <div class="row" ng-class-odd="'odd'">

                    <div class="col-md-2">{{card.name}}</div>
                    <div class="col-md-2">{{card.cardSet}}</div>
                    <div class="col-md-2">{{card.cardClass}}</div>
                    <div class="col-md-2">{{card.cardType}}</div>
                    <div class="col-md-2">{{card.race}}</div>

                </div>
            </div>

        </div>
    </div>
</div>
