<nav id="navbar" class="navbar navbar-default navbar-fixed-top" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#hearthstone-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#/">
          <img id="brand" src="hearthstone.png">
      </a>
    </div>

    <div class="collapse navbar-collapse" id="hearthstone-navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#/cards" class="hidden-xs">Cards</a></li>
        <li><a href="#/cards" class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse">Cards</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li class="text-right hidden-xs"><a href="#/login"><i class="fa fa-user"></i></li>
          <li class="visible-xs"><a href="#/login">Login</li>
      </ul>
    </div>
  </div>
</nav>
